body {
	margin: 0;
	font-family: Arial, sans-serif;
	background-color: #f5f5f5;
}

.container {
	display: grid;
	grid-template-rows: auto 1fr auto;
	min-height: 100vh;
}

.header {
	background-color: #3498db;
	color: white;
	padding: 20px;
	text-align: center;
}

.nav-list {
	list-style: none;
	display: flex;
	justify-content: center;
	align-items: center;
}

.nav-list li {
	margin: 0 15px;
}

.nav-list a {
	text-decoration: none;
	color: white;
	font-weight: bold;
	position: relative;
}

.nav-list a::before {
	content: "";
	position: absolute;
	width: 100%;
	height: 2px;
	background-color: white;
	bottom: -6px;
	left: 0;
	transform: scaleX(0);
	transform-origin: right;
	transition: transform 0.3s ease-in-out;
}

.nav-list a:hover::before {
	transform: scaleX(1);
	transform-origin: left;
}

.main-content {
	flex-grow: 1;
	display: flex;
	justify-content: center;
	align-items: center;
}

.interactive-section {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 20px 0;
}

.button,
.slider,
.toggle {
	margin: 0 10px;
}

.button {
	padding: 10px 20px;
	background-color: #3498db;
	color: white;
	border: none;
	transition: transform 0.3s, background-color 0.3s;
	cursor: pointer;
	border-radius: 30px;
}

.button:hover {
	background-color: #2980b9;
	transform: scale(1.1);
}

.slider {
	width: 200px;
	margin: 10px 0;
}

.toggle {
	position: relative;
	display: inline-block;
	width: 40px;
	height: 20px;
	cursor: pointer;
}

.toggle input[type="checkbox"] {
	display: none;
}

.toggle .slider {
	position: absolute;
	cursor: pointer;
	background-color: #ccc;
	border-radius: 20px;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	transition: 0.4s;
}

.toggle .slider:before {
	content: "";
	position: absolute;
	height: 16px;
	width: 16px;
	left: 2px;
	bottom: 2px;
	background-color: white;
	border-radius: 50%;
	transition: 0.4s;
}

.toggle input[type="checkbox"]:checked + .slider {
	background-color: #2196f3;
}

.toggle input[type="checkbox"]:checked + .slider:before {
	transform: translateX(20px);
}

.pseudo-elements-section {
	text-align: center;
	padding: 20px;
}

.decorative-section {
	width: 150px;
	height: 150px;
	background-color: #e74c3c;
	position: relative;
	display: inline-block;
	line-height: 150px;
	font-size: 16px;
	cursor: pointer;
}

.decorative-section:hover::before,
.decorative-section:hover::after {
	content: "Decorative";
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
}

.decorative-section::before,
.decorative-section::after {
	content: "";
	position: absolute;
	top: 0;
	width: 50px;
	height: 100%;
	background-color: #f39c12;
}

.decorative-section::after {
	left: auto;
	right: 0;
}

.three-d-section {
	text-align: center;
	padding: 20px;
}

.card {
	width: 200px;
	height: 300px;
	perspective: 1000px;
	margin: 0 auto;
}

.card-inner {
	width: 100%;
	height: 100%;
	transform-style: preserve-3d;
	transition: transform 0.5s;
}

.card:hover .card-inner {
	transform: rotateY(180deg);
}

.card-front,
.card-back {
	width: 100%;
	height: 100%;
	position: absolute;
	backface-visibility: hidden;
}

.card-front {
	background-color: #3498db;
	display: flex;
	justify-content: center;
	align-items: center;
}

.card-back {
	background-color: #e74c3c;
	transform: rotateY(180deg);
	display: flex;
	justify-content: center;
	align-items: center;
}

.footer {
	text-align: center;
	padding: 20px;
	background-color: #34495e;
	color: white;
}
